<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451622088725-3936t8gdlv02r5d7sibhtsokm1h1felh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451622088725-3936t8gdlv02r5d7sibhtsokm1h1felh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>451622088725-jdeb8qn2e6qfgqbbpe2rij8rnpbq95lc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBfZCJG4-S-44PDQePC2rY5sAY1pDi9MHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>451622088725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brightqtr.labas.Labas</string>
	<key>PROJECT_ID</key>
	<string>labas-customer-app</string>
	<key>STORAGE_BUCKET</key>
	<string>labas-customer-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451622088725:ios:c8ee2ed87d6c2aa4f41e1c</string>
</dict>
</plist>